#drop-area {
    height: 300px;
    width: 600px;
    margin: auto;
    display: block;
    background: rgb(181, 222, 255);
    color: rgb(0, 89, 141);
    border: 3px dashed rgb(0, 89, 141);
    border-radius: 16px;
    transition: all .2s ease;
}

.my-form {
    margin-top: 15%;
}

#back-to-menu {
    position: absolute;
}

#drop-area.highlight {
    border: 3px dashed rgb(255, 255, 255);
    box-shadow: 0 0 32px -3px rgb(181, 222, 255);
    transition: all .2s ease;
}

#text-field {
    background: rgb(232, 235, 241);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4) inset;
    display: block;
    height: 600px;
    border-radius: 8px;
    padding: 0 16px 0 16px;
    font-size: 16px;
    overflow-y: scroll;
}


.row .col {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

#fileElem {
    display: none;
}


.slides {
    background-color: transparent !important;
}

.row {
    width: 100%;
}

mark {
    background: transparent !important;
    text-decoration: underline wavy red;
}
